.body {
    width: 100%;
}

.header {
    background: white;
    height: 105px;
}

.row {
    margin-right: 0;
    margin-left: 0;
    position: relative;
    top: 35px;
}

.header__logo {
    display: flex;
    justify-content:flex-start;
    
}

.header__logo__nav__ul {
    display: flex;
    justify-content: flex-start;
    justify-content: end;
    position: relative;
    right: 45px;
    gap: 20px;
}

.header__phone {
    height: 24px;
    left: 17.19%;
    right: 0%;
    top: 2.33px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #141414;
    position: relative;
    left: 35px;
    top: 7px;
}

.header__logo__nav__ul li a {
    height: 26px;
    left: 25.97%;
    right: 62.09%;
    top: 20px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #141414;
    text-decoration: none;
}

.header__logo__nav__ul button {
    box-sizing: border-box;
    height: 59px;
    width: 201px;
    background: #5C8692;
    border: 2px solid #5C8692;
    border-radius: 0px;
    position: relative;
    top: -16px;

}

.header__logo__nav__ul button a {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header__logo__nav__ul button:hover {
    background: #06b9eb;
}

.conteiner1 {
    background: #EBF3F5;
    border-radius: 0px;
    height: 950px;
    width: 100%;
}



.conteiner1 h2 {
    height: 23px;
    left: 6.1%;
    right: 41.67%;
    top: -0.5px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #5C8692;
    margin-top: 200px;
    margin-left: 60px;
}

.conteiner1 h1 {
    height: 215px;
    left: 0%;
    right: 33.11%;
    top: 27.5px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 72px;
    letter-spacing: 0.66px;
    color: #141414;
    margin-left: 60px;
    margin-bottom: 20px;

}

.conteiner1 h3 {
    height: 92px;
    left: 0%;
    right: 18.41%;
    top: 261.5px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    color: #555555;
    margin-left: 60px;
    margin-bottom: 25px;
}

.conteiner1 button {
    box-sizing: border-box;
    width: 238px;
    height: 57px;
    background: #5C8692;
    border: 2px solid #5C8692;
    border-radius: 0px;
    margin-left: 60px
}

.conteiner1 button:hover {
    background: #06b9eb;
}


.conteiner1 a {
    width: 174px;
    height: 20px;
    left: calc(50% - 174px/2);
    top: 18px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1.56px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.conteiner1_pic0 {
    z-index: 1;
    position: relative;
    top: 105px;
    left: 12px;
}

.conteiner1_pic1 {
    z-index: 5;
    position: relative;
    top: -510px;
    right: 25px;
}

.conteiner2 {
    display: flex;
    justify-content:center;
    gap: 40px;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
}

.figure h2 {
    height: 37px;
    left: 0%;
    right: 50%;
    top: 304px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.312px;
    color: #141414;

}

.figure h3 {
    height: 92px;
    left: 0%;
    right: 15.53%;
    top: 354px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
    letter-spacing: 0.36px;
    color: #555555;
}

.figure button {
    box-sizing: border-box;
    height: 57px;
    width: 157px;
    left: 0%;
    right: 0%;
    top: 0px;
    border: 2px solid #5C8692;
    border-radius: 0px;
}

.figure button:hover {
    background: #88dff7;
}


.figure a {
    width: 93px;
    height: 20px;
    left: calc(50% - 93px/2);
    top: 18px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1.56px;
    text-transform: uppercase;
    color: #141414;
}

.conteiner3 {
    height: 836px;
    left: 0%;
    right: 0%;
    top: 0px;
    background: #EBF3F5;
    border-radius: 0px;
}

.conteiner3 h3 {
    height: 23px;
    left: 0%;
    right: 75.15%;
    top: -0.88px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #5C8692;
    padding-top: 140px;
    padding-left: 60px;
}

.conteiner3 h2 {
    height: 176px;
    left: 0%;
    right: 12.86%;
    top: 26.12px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 58px;
    letter-spacing: 0.45px;
    color: #141414;
    padding-top: 15px;
    padding-left: 60px;
}

.conteiner3 h4 {
    height: 92px;
    left: 0%;
    right: 0.1%;
    top: 216.12px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
    color: #555555;
    padding-top: 15px;
    padding-left: 60px;
}
.conteiner3__flex {
    display: flex;
    justify-content:center;
    gap: 15px;
    margin-top: 65px;
    position: relative;
    right: -32px;
    top: 30px;
}

.conteiner3__flex__Pic0 {
    z-index: 5;
    position: relative;
    top: 140px;
    left: -10px;
}
.conteiner3__flex__Pic1 {
    z-index: 0;
    position: relative;
    top: -485px;
    left: 45px;
}


.conteiner4 h3 {
    width: 127px;
    height: 23px;
    left: calc(50% - 127px/2 + 0.5px);
    top: -0.88px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #5C8692;
    width: 100%;
    margin-top: 150px;
    
}

.conteiner4 h2 {
    width: 580px;
    height: 59px;
    left: calc(50% - 580px/2);
    top: 26.12px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.45px;
    color: #141414;
    width: 100%;
    height: 223px;
}

#conteiner4__pic1 {
    filter: drop-shadow(1px 0px 18px rgba(0, 0, 0, 0.2));
    border-radius: 0px;
    width: 600px;
    height: 650px;
    display: flex;
    float: right;
}

.conteiner4__pic2 {
    height: 650px;
    width: 600px;
    filter: drop-shadow(1px 0px 18px rgba(0, 0, 0, 0.2));
    border-radius: 0px;
    display: flex;
    float: left;
}
.conteiner4__pic2 img {
    margin-left: -41px;
}

.conteiner4__price h2 {
    height: 27px;
    left: 0%;
    right: 5.19%;
    top: calc(50% - 27px/2 - 1.5px);
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.264px;
    text-transform: capitalize;
    color: #141414;
}

.conteiner4__price h3 {
    height: 27px;
    left: 18%;
    right: 0%;
    top: calc(50% - 27px/2 - 1px);
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #555555;
}

.conteiner4__price {
    width: 540px;
}

.conteiner4__price__flex {
    display: flex;
    justify-content: space-between;
    width: 540px;

}

#conteiner4__price__flex__h3 {
    position: relative;
    left: 150px;
}

#conteiner4__price__flex__h3_1 {
    position: relative;
    left: 155px;
}

#conteiner4__price__flex__h3_2 {
    position: relative;
    left: 148px;
}

#conteiner4__price__flex__h3_3 {
    position: relative;
    left: 129px;
}

#conteiner4__price__flex__h3_4 {
    position: relative;
    left: 129px;
}

#conteiner4__price__flex__h3_5 {
    position: relative;
    left: 136px;
}

#conteiner4__price__flex__h3_6 {
    position: relative;
    left: 142px;
}

#conteiner4__price__flex__h3_7 {
    position: relative;
    left: 167px;
}

.conteiner4__btn button {
    box-sizing: border-box;
    height: 57px;
    left: 0%;
    right: 0%;
    top: 0px;
    border: 2px solid #5C8692;
    border-radius: 0px;
    width: 248px;
    height: 57px;
}

.conteiner4__btn button:hover {
    background: #88dff7;
}


.conteiner4__btn button a{
    width: 184px;
    height: 20px;
    left: calc(50% - 184px/2);
    top: 18px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1.56px;
    text-transform: uppercase;
    color: #141414;
}

.conteiner4__price__for_shift2 {
    display: flex;
    float: right;
    margin-right: 60px;
    margin-top: 20px;
}

.conteiner4__price__for_shift1 {
    position: relative;
    left: 35px;
    top: 5px;
    width: 540px;
}

.section4_middle1 {
    position: relative;
    left: -24px;
    top: 31px;
}

.section4_middle2 {
    position: relative;
    left: 561px;
    
}

.conteiner5 {
    height: 655px;
    left: 0%;
    right: 0%;
    top: 0px;
    background: #EBF3F5;
    border-radius: 0px;
    margin-top: 200px;
    margin-bottom: 100px;
}

.conteiner5__head h3 {
    width: 131px;
    height: 23px;
    left: calc(50% - 131px/2 + 0.5px);
    top: -0.88px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #5C8692;
    margin: auto;
    padding-top: 100px;
}

.conteiner5__head h2 {
    width: 577px;
    height: 59px;
    left: calc(50% - 577px/2 + 0.5px);
    top: 26.12px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.45px;
    color: #141414;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 100px;
}

.conteiner5__cards {
    display: flex;
    justify-content:space-around;
    margin-left: 15px;
    margin-right: 15px;
}

.conteiner5__cards__conteiner1 {
    width: 600px;
    height: 188px;
    left: 0%;
    right: 0%;
    top: 0px;
    background: #FFFFFF;
    border-radius: 0px;
    padding: 20px;
}

.conteiner5__cards__conteiner2 {
    display: flex;
    height: 123px;
    left: 0%;
    right: 0%;
    top: 0px;
    background: #1E2C30;
    border-radius: 0px;
    padding: 25px;
    justify-content: space-between;
}

.conteiner5__cards h4 {
    height: 130px;
    left: 5%;
    right: 7.83%;
    top: 33px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    color: #141414;

}

.conteiner5__cards h3 {
    height: 24px;
    left: 11.95%;
    right: 0.22%;
    top: 27.12px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #FFFFFF;
}

.conteiner5__cards h5 {
    height: 21px;
    left: 11.95%;
    right: 28.9%;
    top: 58.12px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.42px;
    color: #FFFFFF;
}

#conteiner5_shift {
    position: relative;
    left: -110px;
}

.conteiner6__head h3 {
    width: 217px;
    height: 23px;
    left: calc(50% - 217px/2 + 0.5px);
    top: -0.88px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #5C8692;
    margin: auto;
}

.conteiner6__head h2 {
    width: 496px;
    height: 59px;
    left: calc(50% - 496px/2);
    top: 26.12px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.45px;
    color: #141414;
    margin: auto;
}

.conteiner6__body h4 {
    height: 37px;
    left: 0%;
    right: 25.8%;
    top: 108.12px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.312px;
    color: #141414;
}

.conteiner6__body h3 {
    height: 54px;
    left: 0%;
    right: 7.59%;
    top: 156.12px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #555555;
}

.conteiner6__body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 70px;
    margin-bottom: 100px;
    gap: 30px;
    margin-left: 60px;
}

.conteiner7 {
    height: 910px;
    left: 0%;
    right: 0%;
    top: 0px;
    background: #EBF3F5;
    border-radius: 0px;
}

.conteiner7__text h3 {
    height: 23px;
    left: 0%;
    right: 75.65%;
    top: 0px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #5C8692;
    padding-top: 175px;
    padding-bottom: 20px;
    padding-left: 50px;
    
}

.conteiner7__text h2 {
    height: 59px;
    left: 0%;
    right: 22.61%;
    top: 26px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 58px;
    letter-spacing: 0.45px;
    color: #141414;
    padding-left: 50px;
}

.conteiner7__text h4 {
    height: 62px;
    left: 0%;
    right: 5.91%;
    top: 219px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
    color: #555555;
    padding-top: 127px;
    padding-left: 50px;
}

.conteiner7__text2 {
    display: flex;
    padding-top: 100px;
    margin-left: 50px;

}

.conteiner7__flx {
    display: flex;
    height: 173px;
    width: 330px;
    left: 0%;
    right: 0%;
    top: 0px;
    background: #FFFFFF;
    border-radius: 0px;
    border: 3px solid #5C8692;
}

.conteiner7__flx h3 {
    height: 21px;
    left: 0%;
    right: 65.92%;
    top: -0.17px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #141414;
    padding-top: 28px;
    padding-bottom: 7px;
    padding-left: 40px;
}

.conteiner7__flx a {
    height: 23px;
    left: 0%;
    right: -0.1%;
    top: 19.83px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 1.2px;
    color: #141414;
    padding-top: 10px;
    padding-left: 40px;
}


.conteiner7__flx2 {
    height: 173px;
    width: 194px;
    left: 0%;
    right: 0%;
    top: 0px;
    background: #1E2C30;
    border-radius: 0px;
    
    padding-top: 15px;

}

.conteiner7__flx2 h2 {

    height: 23px;
    left: calc(50% - 109px/2 - 0.5px);
    top: 22px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.conteiner7__flx2 h3 {

    height: 78px;
    left: calc(50% - 144px/2);
    top: 39px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 78px;
    text-align: center;
    letter-spacing: 0.78px;
    color: #FFFFFF;
}

.conteiner7__flx2 h4 {

    height: 27px;
    left: calc(50% - 95px/2 - 0.5px);
    top: 122px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 1.8px;
    color: #FFFFFF;
}

.conteiner7_dots1 {
    position: relative;
    top: 25px;
    left: 20px;
}

.conteiner7_dots2 {
    position: relative;
    top: 68px;
    left: 20px;
}

.conteiner7__form {
    margin-top: 90px;
    height: 690px;
    width: 555px;
    left: 0%;
    right: 0%;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 1px 0px 18px rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    padding: 50px;
}

#form__big  input {
    height: 130px;
}

.form_name img {
    position: relative;
    top: 42px;
    right: 40px;
}

.form_mail img {
    position: relative;
    top: 42px;
    right: 40px;
}

.form_phone img {
    position: relative;
    top: 42px;
    right: 40px;
}


.form_book img {
    position: relative;
    top: 42px;
    right: 40px;
}

.form_notes img {
    position: relative;
    top: 42px;
    right: 40px;
}

.form_name {
    margin-top: -50px;
}

.form_mail {
    margin-top: -45px;
}

.form_phone {
    margin-top: -45px;
}

.form_book {
    margin-top: -45px;
}

.form_notes {
    margin-top: -45px;
}

.conteiner7__form button {
    box-sizing: border-box;
    height: 65px;
    width: 455px;
    left: 0%;
    right: 0%;
    top: 490.01px;
    background: #5C8692;
    border: 2px solid #5C8692;
    border-radius: 0px;
}

.conteiner8__head h3 {
    width: 90px;
    height: 23px;
    left: calc(50% - 90px/2);
    top: 0px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #5C8692;
    margin: auto;
    padding-top: 100px;
}

.conteiner8__head h2 {
    width: 313px;
    height: 59px;
    left: calc(50% - 313px/2 - 0.5px);
    top: 26px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.45px;
    color: #141414;
    margin: auto;
    padding-top: 10px;
}

.conteiner8__cards {
    display: flex;
    justify-content:center;
    gap: 25px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 12px;
}

.conteiner8__card-text__flx h3 {
    height: 20px;
    left: 0%;
    right: 54.28%;
    top: -0.51px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.78px;
    text-transform: uppercase;
    color: #5C8692;
}

.con8 {
    padding-top: 50px;
}

.con8 h2 {
    height: 62px;
    left: 6.72%;
    right: 8.53%;
    top: 64px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 31px;
    letter-spacing: 0.44px;
    color: #141414;
    margin-left: 10px;
    margin-top: 20px;
}

.con8 h4 {
    height: 81px;
    left: 6.72%;
    right: 10.34%;
    top: 140px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #555555;
    margin-left: 10px;
    margin-top: 20px;
}

.conteiner8__card-text__flx {
    display: flex;
    gap: 14px;
    margin-left: 10px;
    margin-bottom: -50px;
    margin-top: -25px;
}

#color {
    height: 255px;
    left: 0%;
    right: 0%;
    top: 0px;
    background: #EBF3F5;
    border-radius: 0px;
}



.con8_btn button {
    box-sizing: border-box;
    width: 230px;
    height: 57px;
    left: 0%;
    right: 0%;
    top: 0px;
    border: 2px solid #5C8692;
    border-radius: 0px;
    position: relative;
    left: 555px;
    top: -106px;
}

.con8_btn button:hover {
    background: #88dff7;
}


.con8_btn a {
    width: 166px;
    height: 20px;
    left: calc(50% - 166px/2);
    top: 18px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1.56px;
    text-transform: uppercase;
    color: #141414;
}



.footer {
    left: 0%;
    right: 0%;
    top: 0px;
    background: #1E2C30;
    border-radius: 0px;
}

.footer__iconflex {
    display: flex;
    gap: 7px;
    
}


.footer__logoflex {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-right: 100px;
    padding-left: 100px;
}

.footer__line {
    padding-left: 80px;
    padding-top: 40px;
}

.footer__nav1 ul {
    height: 31px;
    left: 0%;
    right: 59.9%;
    top: 19.34px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 65px;
    letter-spacing: 0.352px;
    color: #FFFFFF;
}

.footer__nav1 li {
    height: 29px;
    left: 0%;
    right: 76.61%;
    top: 9.34px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    letter-spacing: 0.17px;
    color: #FFFFFF;
}

.footer__nav2 ul {
    height: 31px;
    left: 3.04%;
    right: 53.99%;
    top: 19.34px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 65px;
    letter-spacing: 0.352px;
    color: #FFFFFF;
}

.footer__nav2 li {
    height: 29px;
    left: -0.15%;
    right: 61.03%;
    top: 47.34px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    letter-spacing: 0.17px;
    color: #FFFFFF;
}

.footer__nav3 ul {
    height: 31px;
    left: 0.09%;
    right: 63.39%;
    top: 19.34px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 65px;
    letter-spacing: 0.352px;
    color: #FFFFFF;
}

.footer__nav3 li {
    height: 26px;
    left: 2.36%;
    right: 79.64%;
    top: -0.66px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.17px;
    color: #FFFFFF;
}

.footer__nav4 ul {
    height: 31px;
    left: 14.55%;
    right: 6.68%;
    top: 19.34px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 65px;
    letter-spacing: 0.352px;
    color: #FFFFFF;
}

.footer__nav4 li {
    height: 26px;
    left: 0.26%;
    right: 5.56%;
    top: 12.34px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #FFFFFF;
}

.footer__flx {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-right: 70px;
    margin-bottom: 273px;
    margin-left: 50px;
}

.footer__buttom {
    height: 62px;
    left: 0%;
    right: 0%;
    top: 0px;
    background: #111E22;
    border-radius: 0px;
    display: flex;
    padding-top: 17px;
    justify-content: center;
}

.footer__buttom h2 {
    width: 93px;
    height: 23px;
    left: calc(50% - 93px/2 - 119.5px);
    top: -0.66px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #FFFFFF;
}

.col-md-6 {
    flex: 0 0 auto;
    width: 50%;
    display: flex;
    justify-content: center;
}

.header__logo__conteiner {
    width: 100%;
}

.header__logo__nav__conteiner {
    width: 100%;
}

@media (max-width: 1302px) {
    .header__logo {
        display: flex;
        justify-content:flex-start;
        
    }
    
    .header__logo__nav__ul {
        display: flex;
        justify-content:flex-start;
        justify-content:space-around;
        gap: 17px;
        position: relative;
        right: 45px;
    }
    
    .header__phone {
        height: 24px;
        left: 17.19%;
        right: 0%;
        top: 2.33px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #141414;
        position: relative;
        left: 35px;
        top: 7px;
    }
    
    .header__logo__nav__ul li a {
        height: 26px;
        left: 25.97%;
        right: 62.09%;
        top: 20px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 26px;
        color: #141414;
    }
    
    .header__logo__nav__ul button {
        box-sizing: border-box;
        height: 59px;
        width: 201px;
        background: #5C8692;
        border: 2px solid #5C8692;
        border-radius: 0px;
        position: relative;
        top: -16px;
    }
    
    .header__logo__nav__ul button a {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    
    .header__logo__nav__ul button:hover {
        background: #06b9eb;
        }


    }

    @media (max-width: 1280px) {
    .conteiner3 h4 {
        height: 92px;
        left: 0%;
        right: 0.1%;
        top: 216.12px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 31px;
        color: #555555;
        padding-top: 15px;
        padding-left: 60px;
    }

}

@media (max-width: 1247px) {
    .header__logo {
        display: flex;
        justify-content:flex-start;
        
    }
    
    .header__logo__nav__ul {
        display: flex;
        justify-content:flex-start;
        justify-content:space-around;
        gap: 17px;
        position: relative;
        right: 45px;
    }
    
    .header__phone {
        height: 24px;
        left: 17.19%;
        right: 0%;
        top: 2.33px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        color: #141414;
        position: relative;
        left: 35px;
        top: 7px;
    }
    
    .header__logo__nav__ul li a {
        height: 26px;
        left: 25.97%;
        right: 62.09%;
        top: 20px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        color: #141414;
    }
    
    .header__logo__nav__ul button {
        box-sizing: border-box;
        height: 59px;
        width: 201px;
        background: #5C8692;
        border: 2px solid #5C8692;
        border-radius: 0px;
        position: relative;
        top: -16px;
    }
    
    .header__logo__nav__ul button a {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 21px;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    
    .header__logo__nav__ul button:hover {
        background: #06b9eb;
        }
}